@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

body {
  @apply bg-slate-100 text-slate-900 antialiased;
}

* {
  scrollbar-width: thin;
}

@media print {
  .no-print {
    display: none !important;
  }
}
